:root {
  --font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
}
.home {
    width: 100%;
    align-items: center;
    font-family: var(--font-family);
    color: #3e497a;
  }
  
  .about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #21325e;
    color: #f0f0f0;
  }
  
  .about h2 {
    font-family: var(--font-family);
    font-size: 70px;
    color: #e9d35b;
    bottom: 3rem;
    top: 1rem;
  }

  
  .about .prompt {
    width: 40%;
    font-size: 40px;
  }
  .prompt svg {
    font-size: 70px;
    margin: 5px;
    color: white;
  }
  
  .skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
  }

  
  .skills .list {
    list-style: none;
    width: 60%;
    font-family: var(--font-family);
    font-size: 2.1rem;
  }
  
  .list span {
    font-size: 24px;
    font-family: var(--font-family);
    font-weight: 500;
  }

  @media screen and (max-width: 990px) {
    .about h2 {
      font-size: 50px;
      position: relative;
      bottom: 5rem;
    }
  }

  @media screen and (max-width: 810px) {
    .home {
      margin: 0;
      padding: 0;
    }
    .prompt p {
      font-size: 30px;
      position: relative;
    }
    .about {
      width: 75vh;
      height: 70vh;
      margin: 0;
    }
    .about h2 {
      font-size: 40px;
      bottom: 5rem;
    }
    .skills h1 {
      font-size: 47px;
    }
    .skills h2 {
      font-size: 40px;
    }
  }
  
  @media screen and (max-width: 550px) {
    .about h2 {
      font-size: 40px;
      position: relative;
      bottom: 6rem;
    }
  
    .about .prompt {
      font-size: 20px;
      width: 80%;
      top: 1rem;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }
  }

  @media screen and (max-width: 390px) {
    .about h2 {
      font-size: 30px;
      position: relative;
    }
    .prompt p {
      font-size: 20px;
    }
    .skills h1 {
      font-size: 35px;
    }
  }