:root {
  --font-family: "Roboto", sans-serif;
}

*{
  box-sizing: border-box;
}

.projects {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .projects h1 {
    font-family: var(--font-family);
  }

  .projects .projectTitle {
    text-align: center;
    color: #3e497a;
    font-size: 60px;
    font-weight: bolder;
  }
  
  .projectList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    font-family: var(--font-family);
    font-size: 15px;
  }
  
  /* MENU ITEM STYLING */
  
  .projectItem {
    border-radius: 15px;
    width: 300px;
    height: 300px;
    margin: 40px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: var(--font-family);
  }
  .projectItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 1s ease-out;
    cursor: pointer;
  }
  
  .projectItem .bgImage {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .projectItem h1 {
    font-size: 23px;
    font-family: var(--font-family);
  }

  .projectItem a {
    margin: 1rem;
    font-family: var(--font-family);
  }

  .projectItem button {
    padding: 8px;
    border-radius: 5px;
    border: none;
    background: #3e497a;
    color: white;
    cursor: pointer;
    font-family: var(--font-family);
  }

  .projectItem button:hover {
    background: gray;
    color: black;
    transition: 1s ease;
  }
  
  @media only screen and (max-width: 1300px) {
    .projectList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 990px) {
    .projectList {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .projectList {
      width: 100%;
    }
    .projectItem {
      width: 300px;
      height: 300px;
    }
  }